body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

h1{
  font-family: 'Permanent Marker', cursive;
  color: aliceblue;
  text-align: center;
  font-size: 80px;
}
#flash{
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color: white;
 display: flex;
 width:100vw;
 height:100vh;
 align-items:center;
 justify-content: center;
 font-size: 5rem;  
 position:relative;
 bottom: 200px;
}

#wrapper{
  border:3px solid white;
  padding: 1rem;
}
#flash.span{
  margin-left: 10px;
}

#ampm{
  font-size: 3rem;
  align-items: end;
}